# ==========================================
# Python & Environment
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.conda/



# ==========================================
# IDEs & OS Specific
# ==========================================
.vscode/
.ipynb_checkpoints/
.DS_Store
.DS_Store?
._*
.Trashes
Thumbs.db